#body{
    font-family: sans-serif;
}
#game-lay-out{
    width: 1340px;
    height: 720px;
    text-align: center;
    background: url("images_game_2/backgr.png") ;
    background-size: 1340px 720px;
}
li{
    list-style-type: none;
}
#tool-bar{
    height: 60px;
}
#back-btn{
    margin-left: -1230px;
    font-size: 30px;
    border-radius: 50%;
}
#language{
    float: right;
    font-size: 25px;
}
#point-bar{
    height: 60px;
    color: #000;
    margin-top: -60px;
    margin-left: -20px;
}

#instruct{
    height: 50px;
    font-size: 35px;
    margin-left: -50px;
    color: blue;
}
#one-coin-col {
    float: left;
    width: 100px;
    height: 500px;
    margin-left: 60px;
    margin-right: 50px;
}
#one-coin{
    margin-bottom: -30px;
}
#ten-coin-col {
    float: left;
    width: 100px;
    height: 650px;
    margin-left: 40px;
    margin-right: 50px;
}
#ten-coin{
    margin-bottom: -50px;
}
#tray {
    margin-top: 195px;
    float: left;
    width: 400px;
    height: 255px;
    margin-left: 80px;
}
#buy-btn{
    margin-top: 470px;
    margin-left: -850px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: turquoise;
}
#buy-btn:hover{
    color: red;
}
#price{
    margin-right: 230px;
    margin-top: -170px;
    font-size: 40px;
}
