.container-fluid{
    padding-left: 50px;
}
#head{
    background-color: lightsteelblue;
}
ul{
    list-style: none;
    
}
#logo{
    margin-left: -70px;
    margin-top: -40px;
    
}

#main {
    font-size:30px;
    margin-left: 70px;
   margin-top: -30px;
}
#exercise {
    font-size: 30px;
    margin-left: 70px;
   margin-top: -30px;
}
#score-board {
    font-size: 30px;
    margin-left: 70px;
   margin-top: -30px;
}
#language{
    font-size: 30px;
    margin-left: 70px;
   margin-top: -30px;
}

#user{
    margin-left: 120px;
    margin-top: -30px;
    
}

#game-1-pic{
    padding-top: 10px;
}
#game-2-pic{
    padding-top: 10px;
}
#game-3-pic{
    padding-top: 10px;
}

#user-pic{
    margin-left: 50px;
}
.col-md-7{
    margin-left: 50px;
}
#rank-title{
    margin-bottom: 30px;
}
.student-rank{
    margin-left: 60px;
}
.game-1{
    margin-left: 100px;
}
.game-3{
    margin-right: 110px;
}